/*Global*/
body {
  background-color: #E0E0E0;
}

.card {
  margin-bottom: 20px;
}

#hover:hover {
  background-color: grey;
  opacity: .7;
}


/*About Me*/
.my-pic {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

/*Connect With Me*/
.icon {
  width: 90%;
}

/*Portfolio*/
.card-footer {
  background-color: #E8E8E8;
}

/*Footer*/
.main-content {
  min-height: calc(100vh - 154px);
  width: 100%;
  }

.sticky-footer {
  height: 50px;
}
.sticky-footer p {
  font-size: 12px;
  padding-top: 16px;
}

/*Media Queries*/

/*Medium devices (tablets, 768px and up))*/
@media (min-width: 768px) {
  .my-pic {
    max-width: 60%;
    height: auto;
    float: left;
    margin: 0px 15px 15px 0px;
  }
}









