/*Global*/
body {
  background-color: #E0E0E0;
}

.card {
  margin-bottom: 20px;
}

/*Header*/

/*About Me*/
.about-img {
  width: 60%;
  float: left;
  margin: 0px 15px 15px 0px;
}

/*Connect With Me*/
.icon {
  width: 90%;
}

/*Portfolio*/
.card-footer {
  background-color: #E8E8E8;
}

/*Footer*/
.main-content {
  min-height: calc(100vh - 154px);
  width: 100%;
  }

.sticky-footer {
  height: 50px;
}
.sticky-footer p {
  font-size: 12px;
  padding-top: 16px;
}